{{ define "main" }}
  <main class="index">
    <div class="description">
      Konwencje przyjęte w tabeli:
      <ul>
      <li>kolejność opowiadań - chronologiczna</li>
      <li>tytuł prowadzi do strony ze szczegółami oraz wszystkimi odnośnikami opowiadania</li>
      <li>kanały na YouTube są wyszczególniane są w swoich kolumnach od 10 opowiadań wzwyż</li>
      <li>jedynym wyjątkiem od publikacji na YouTube jest zbiór <i>Wyzwanie z Innego Świata</i> produkcji Audioteki<br />(jak na razie jedyny audiobook z opowiadaniami Lovecrafta dostępny na platformie subskrypcyjnej)</li>
      </ul>
      <br />
      Gorąco zachęcam do subskrypcji oraz wsparcia lektorów z zalinkowanych kanałów, jeśli sprawili Ci przyjemność ze słuchania opowiadań mistrza grozy!
      <br />
      <hr />
      <br />
    </div>

    <table id="stories">
      <thead>
        <tr class="header">
          <th>Tytuły</th>
          <th class="vertical"><div><span><a href="https://www.youtube.com/c/Pi%C4%99knyApollo">Straszne Opowieści</a></span></div></th>
          <th class="vertical"><div><span><a href="https://www.youtube.com/channel/UCe8L1jC8iiQR4H_j3CeoQkQ">Świat Lovecrafta</a></span></div></th>
          <th class="vertical"><div><span><a href="https://audioteka.com/pl/audiobook/wyzwanie-z-innego-swiata">Audioteka</a></span></div></th>
          <th class="vertical"><div><span><a href="https://www.youtube.com/user/tchnieniegrozy">Tchnienie Grozy</a></span></div></th>
          <th class="vertical"><div><span><a href="https://www.youtube.com/@strefacieni">Strefa Cieni</a></span></div></th>
          <th class="vertical"><div><span>Pozostałe</span></div></th>
        </tr>
      </thead>
      <tbody>
      {{ range sort (where .Site.RegularPages "Section" "story") ".Params.creation_year" "asc"  }}
        <tr>
          <td class="titles">
            <strong><a href="{{ .Permalink }}">{{ .Params.title }}</a></strong><br />
            {{ range .Params.titles_pl }}
                - {{ . }}<br />
            {{ end }}
          </ul>
          </td>
          <td>
            {{ range first 1 (where .Params.audiobooks "channel" "Straszne Opowieści") }}
              <a href="{{ .link }}" title="{{ .channel }}" class="link"><img class="link_icon" src="/img/yt.png" /></a>
            {{ end }}
          </td>
          <td>
            {{ range first 1 (where .Params.audiobooks "channel" "Świat Lovecrafta") }}
              <a href="{{ .link }}" title="{{ .channel }}" class="link"><img class="link_icon" src="/img/yt.png" /></a>
            {{ end }}
          </td>
          <td>
            {{ range first 1 (where .Params.audiobooks "channel" "Audioteka") }}
              <a href="{{ .link }}" title="{{ .channel }}" class="link"><img class="link_icon" src="/img/{{ if in .link "audioteka.com" }}audioteka.jpg{{ else }}yt.png{{ end }}" /></a>
            {{ end }}
          </td>
          <td>
            {{ range first 1 (where .Params.audiobooks "channel" "Tchnienie Grozy") }}
              <a href="{{ .link }}" title="{{ .channel }}" class="link"><img class="link_icon" src="/img/yt.png" /></a>
            {{ end }}
          </td>
          <td>
            {{ range first 1 (where .Params.audiobooks "channel" "Strefa Cieni") }}
              <a href="{{ .link }}" title="{{ .channel }}" class="link"><img class="link_icon" src="/img/yt.png" /></a>
            {{ end }}
          </td>
          <td>
            {{ range where .Params.audiobooks "channel" "not in" (slice "Straszne Opowieści" "Audioteka" "Tchnienie Grozy" "Świat Lovecrafta") }}
              <a href="{{ .link }}" title="{{ .channel_name }}" class="link"><img class="link_icon" src="/img/{{ if in .link "audioteka.com" }}audioteka.jpg{{ else }}yt.png{{ end }}" /></a><br />
            {{ end }}
          </td>
        </tr>
      {{ end }}
      </tbody>
  </table>
  </main>
{{ end }}
